---
title: Ottawa Elite Construction And Renovations | Some of Our Work
---

{% extends "boilerplate/boilerplate.njk" %}

{% block links %}
    <link rel="stylesheet" href="/styles/gallery.css">
    {{ super() }}
{% endblock %}

{% block content %}
    <section class="subHero">
        <div class="container --flare-background-2"><h1>Our<br>Work</div>
        <div class="imgWrapper">
        </div>
    </section>
    <main>

    {% for item in gallery.images %}
        <div loading="lazy" class="imgWrapper galleryItem"><img src="{{item.image}}" alt="{{item.caption}}" class=""></div>
    {% endfor %}
    </main>
{% endblock %}