---
    title: Ottawa Elite Construction | About Us
---
{% extends "boilerplate/base.njk" %}

{% block content %}
    <section class="subHero ">
        <div class="container --flare-background-2"><h1>A Little<br>About Us</h1></div>
        <div class="imgWrapper">
            <img style="object-position: center 80%;" src="/assets/about_us.JPG" alt="">
        </div>
    </section>



    <section class="--layout-1">
        <h2>Get To Know The Team</h2>
        <div class="--layout-4 --layout-7">
            <div class="imgWrapper"><img style="object-position: 25% center;" src="/assets/neil.JPG" alt="thing"></div>
    
            <div class="container">
                <h2>Owner - Issak</h2>
                <p>Meet Issak, the driving force behind Ottawa Elite Construction. With over 20 years of experience in the industry, Issak’s expertise as a general contractor covers a wide range, from specialized areas like SDU's and structural framing to detailed work in carpentry, windows, doors, and bathrooms. His comprehensive skill set and dedication to quality make him a cornerstone of Ottawa Elite Construction's success.</p>
                <a href="mailto:Issak@OttawaEliteConstruction.ca" class="--typo-cell">Email - Issak@OttawaEliteConstruction.ca</a>
            </div>
        </div>
    </section>



    <section class="--layout-other">
        <div class="--band-2">
            <div class="--card-3"><span>20 +</span><br><span>Years Of Experience</span></div>
            <div class="--card-3"><span>9.9 / 10</span><br><span>Home Stars Rating</span></div>
            {# <div class="--card-3"><span>4.7 / 5</span><br><span>B.B.B Rating</span></div> #}
        </div>
        
        {# <div class="--band-1 --flare-background-2">
            <div class="container">
                <h2>Better Business Bureau Accredited!</h2>
                <p>Ottawa Elite Construction's BBB accreditation underscores our commitment to integrity and client trust. This recognition assures you of our dedication to ethical business practices and quality service in every project.</p>
                <a href="https://www.bbb.org/ca/on/nepean/profile/general-contractor/frc-inc-0117-79153" class="p --btn-learnMore1">Check Our BBB Page<div class="arrowLine"></div><div class="arrowHead"></div></a>
            </div>
            <div class="imgWrapper">
                <img src="/assets/Better_Business_Bureau_Logo.png" alt="">
            </div>
        </div> #}
    </section>
    <section class="--layout-5">

        <div class="imgWrapper">
            <img style="object-position: 80%;" src="/assets/about_our_business.jpg" alt="">
        </div>

        <div class="container">
            <h2>About Our Business</h2>
            <p>At Ottawa Elite Construction, our more than 20 years in the general contracting business is a journey marked by dedication, expertise, and a deep-seated commitment to our clients. Originating from Winnipeg, MB, and now serving Ottawa, Ontario and surrounding areas, our family-operated firm has become a symbol of trust and quality in both residential and commercial construction. Fully licensed and insured, we take pride in our BBB accreditation, a reflection of our ethical and customer-focused approach.
                <br>
                Our services are comprehensive, ranging from building new homes, Second Dwelling Units (SDU's), and handling commercial projects, to house flips, renovations, and restoration work. We collaborate with trusted trade partners in electrical, HVAC, septic, plumbing, and masonry to ensure every aspect of your project is managed with utmost professionalism. Our goal is to provide you with on-budget solutions and to respect your timelines, guaranteeing satisfaction without compromise.
            </p>
            <a class="--btn-CTA1 --typo-btn1" href="/contact#quote">Get In Touch</a>
        </div>
    </section>
    

    <section class="--layout-centerP --flare-background-8">
        <p class="--typo-pBig --flare-text-1">We treat your project with the same care and integrity as if it were our own. We’re not just building structures; we’re building lasting relationships based on trust and outstanding results. Contact us for a no-obligation consultation and let us show you why we are your trusted general contractor in the region.</p>
    </section>

    
    <section class="--layout-CTA">
        <h2 class="--typo-h2CTA">How Can We Help You?</h2>
        <p class="--typo-pHero">Explore the potential for your project or swiftly address your repair needs with Ottawa Elite Construction. Contact us now to take the first step towards realizing your construction goals!</p>
        <a href="/contact#quote" class="--btn-CTA2 --typo-btn1">Get In Contact</a>
    </section>
{% endblock %}