<footer>
    <div class="footer-container colorInverse">
        <div class="footer-headingContainer">
            <a class="imgWrapper --btn-logo" href="/"><img class="footer-logo" src="/assets/logo-long.svg" alt=""></a>
            <p>In Ottawa or surrounding areas and planning a home improvement? Ottawa Elite Construction streamlines your project from permits to final touches. Our experienced team focuses on quality and ease, ensuring a smooth, satisfying renovation experience.</p>
        </div>
        <div class="footer-linkContainer">
            <nav class="footer-card">
                <h3 class="flare4">Navigation</h3>
                <ul>
                    <li><a href="/" class="--btn-nav --typo-pSmall {% if page.url == '/' %}--flare-text-1{% endif %}">Home</a></li>
                    <li><a href="/about-us" class="--btn-nav --typo-pSmall {% if page.url == '/about-us/' %}--flare-text-1{% endif %}">About Us</a></li>
                    <li><a href="/general-contracting-services" class="--btn-nav --typo-pSmall {% if page.url == '/general-contracting-services/' %}--flare-text-1{% endif %}">Our Services</a></li>
                    <li><a href="/gallery" class="--btn-nav --typo-pSmall {% if page.url == '/gallery/' %}--flare-text-1{% endif %}">Our Gallery</a></li>
                    <li><a href="/contact" class="--btn-nav --typo-pSmall {% if page.url == '/contact/' %}--flare-text-1{% endif %}">Contact Us</a></li>
                </ul>
            </nav>

            <nav class="footer-card">
                <h3 class="flare4">Contact</h3>
                <ul>
                    <li><a class="--btn-nav --typo-pSmall" href="/contact#quote">Get a Quote</a></li>
                    <li><a class="--btn-nav --typo-pSmall" href="/contact#map">Visit Us</a></li>
                    <li><a class="--btn-nav --typo-pSmall" href="/contact">Contact Us</a></li>
                </ul>
            </nav>


            <div class="footer-card footer-external">
                {# <h3 class="flare4">External Pages</h3>
                <ul>
                    <li><a href="https://www.instagram.com/frc_inc/"><img src="/assets/footer-instagram.svg" alt="instagram icon"></a></li>
                    <li><a href="https://www.bbb.org/ca/on/nepean/profile/general-contractor/frc-inc-0117-79153"><img src="/assets/footer-bbb.png" alt="better business bureau icon"></a></li>
                </ul> #}
            </div>
        </div>
    </div>

    <div class="footer-band">Copyright 2024 <a href="https://showtheworld.digital">Show The World</a>. All rights reserved.</div>
</footer>