<header class="colorInverse">
    <a href="/" class="logoWrapper --btn-logo"><img src="/assets/logo-long.svg" alt=""></a>
    <input  type="checkbox" id="nav-toggle" name="nav-toggle" class="nav-toggle">
    <nav>
        <ul>
            <li><a href="/" class="--btn-nav --typo-pSmall {% if page.url == '/' %}--flare-text-1{% endif %}">Home</a></li>
            <li><a href="/about-us" class="--btn-nav --typo-pSmall {% if page.url == '/about-us/' %}--flare-text-1{% endif %}">About Us</a></li>
            <li><a href="/general-contracting-services" class="--btn-nav --typo-pSmall {% if page.url == '/general-contracting-services/' %}--flare-text-1{% endif %}">Our Services</a></li>
            <li><a href="/gallery" class="--btn-nav --typo-pSmall {% if page.url == '/gallery/' %}--flare-text-1{% endif %}">Our Gallery</a></li>
            <li><a href="/contact" class="--btn-nav --typo-pSmall {% if page.url == '/contact/' %}--flare-text-1{% endif %}">Contact Us</a></li>
            <li><a href="/contact#quote" class="--btn-CTA2 --typo-pSmall">Free Quote</a></li>
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
        <span></span>
        <span></span>
    </label>
</header>